<p id="notice"><%= notice %></p>

<h2> Game Results </h2>
<!-- Shows the game results to the user -->
<table class="results">
	<tr>
		<td> You picked:</td>
		<td> The computer picked:</td>
	</tr>

	<tr>
		<td>
				<%= image_tag("#{@game.sign.downcase}.png", :class => "sign-png") %></p>
			<p> <%= @game.sign %></p>
		</td>
		<td>
				<%= image_tag("#{@game.computer_sign.downcase}.png", :class => "sign-png") %></p>
			<p> <%= @game.computer_sign %></p>
		</td>
	</tr>
</table>

<div class="results-message">
	<p>
	<% if @game.status == "User Won" %>
		Congratulations! You won!
	<% elsif @game.status == "Tied" %>
		It was a tie!
	<% else %>
		Sorry, you lost. 
	<% end %>
	</p>
	<p> Want to <%= link_to "play again?", "/" %> </p>
</div>
